<% @user = current_user %>
<%= form_with model: @event do |form| %>
  <div>
    <%= form.label :name %><br />
    <%= form.text_field :name %><br />
    <% @event.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div><br />
    <% end %>
  </div>

  <div>
    <%= form.label :event_date %><br />
    <%= form.date_select :event_date %><br />
    <% @event.errors.full_messages_for(:event_date).each do |message| %>
      <div><%= message %></div><br />
    <% end %>
  </div>
 
  <div>
    <%= form.label :location %><br />
    <%= form.text_field :location %><br />
    <% @event.errors.full_messages_for(:location).each do |message| %>
      <div><%= message %></div><br />
    <% end %>
 </div>

 <div>
    <%= form.label :details %><br />
    <%= form.text_area :details %><br />
    <% @event.errors.full_messages_for(:details).each do |message| %>
      <div><%= message %></div><br />
    <% end %>
  </div>
  <div>
    <%= form.submit :submit %>
  </div>
<% end %>
