<h1><b> Welcome to the private-events ! </b></h1>

<div style="text-align: center;">
  <% if user_signed_in? %>
    <h2>
      <a href="<%= new_event_url %>">New Event</a>
    </h2>
    <h2>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </h2>
    <h2>
      <%= link_to "Profile", current_user %>
    </h2>
  <% else %>
    <h2>
      <%= link_to "Sign In", new_user_session_path %>
    </h2>
  <% end %>
</div>

<h2>Events from past</h2>
<% Event.past.each do |event| %>
  <h2><%= link_to event.name, event %></h2>
  <h3><%= event.event_date %></h3><br /> 
<% end %>

<h2>Events in future</h2>
<% Event.future.each do |event| %>
  <h2><%= link_to event.name, event %></h2>
  <h3><%= event.event_date %></h3><br /> 
<% end %>
