<h1><%= @event.name %></h1><br />
<h2>date: <%= @event.event_date %></h2><br />
<h3>location: <%= @event.location %></h3><br /><br />

<span style="border: black solid 1px;">
  DETAILS:  <%= @event.details %>
</span><br />
<% if @event.creator == current_user %>
  <br /><br />
  <%= link_to "edit event details", edit_event_path %><br /><br />
  <%= link_to "delete this event", event_path(@event),
                                method: :delete,
                                data: {confirm: "Are you sure?" } %>

  <br /><br />
<% end %>
<br /><br />
<% if current_user.attended_event_ids.include?(@event.id) %>
  <div>
    <p>
    You have attended
    </p><br />
    <%= link_to "delete attendance", attended_event_attendee_path(@event.id),
                                      method: :delete,
                                      data: {confirm: "sure ?"} %>
  </div>
<% else %>
  <div>
    <%= render "attended_event_attendees/form" %> 
  </div>
<% end %>


<div>
  <h4>Attendees</h4>
  <% @event.attendees.each do |attendee| %>
    <p><%= attendee.username %></p><br />
  <% end %>
</div>
